* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
}
.profile {
    width: 40px;
}
.title{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.menu{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:20px;
    align-items: center;
    padding-left: 1050px;
    padding-right: 7;
}
.layanan {
    text-decoration: 0;
    display: flex;
    text-align: center;
    color: white;
}
.ulasan {
    text-decoration: 0;
    color: white;
}
.pricing {
    text-decoration: 0;
    color: white;
}